@inherits LayoutComponentBase

<div class="page background min-vh-100">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@
    @*<div>
        <NavMenu />
    </div>*@

    <main>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article >
            @Body
        </article>
    </main>
</div>
@*class="content px-4"*@
