@inject IAdminService AdminService;
@if(!string.IsNullOrEmpty(Alert))
{
	<div class="d-flex">
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>@Alert</strong>
			<button type="button" @onclick="CloseAlert" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	</div>
}

@if (Navigation == PageType.Create)
{
	<ChangeFilm Page="@Navigation" OnChange="OnChange"></ChangeFilm>
}
@if (Navigation == PageType.Delete || Navigation == PageType.Edit)
{
	<ChangeFilm Page="@Navigation" OnChange="OnChange" Film="Film"></ChangeFilm>
}

<div class="d-flex me-1">
	<a href="/" class="btn btn-outline-secondary rounded-0 me-1">Home</a>
	<button type="button" class="btn btn-outline-primary rounded-0 me-1" @onclick="()=>ChangePageType(PageType.Index)">Index</button>
	<button type="button" class="btn btn-outline-success rounded-0" @onclick="()=>ChangePageType(PageType.Create)">Create</button>
</div>

<FilmsIndex OnClick="OnClick" FilmList="FilmList"></FilmsIndex>

@code {
	public List<FilmDTO> FilmList { get; set; } = new();
	public string Alert { get; set; } = string.Empty;
	public string Navigation { get; set; } = string.Empty;
	FilmDTO Film { get; set; }

	void ChangePageType(string pageType) => Navigation = pageType;
	void CloseAlert() => Alert = string.Empty;


	protected override async Task OnInitializedAsync()
	{
		FilmList = await AdminService.GetAsync<FilmDTO>("films");
	}

	async Task OnClick(ClickModel film)
	{
		if (film.PageType.Equals(PageType.Edit) || film.PageType.Equals(PageType.Delete))
		{
			Film = await AdminService.SingleAsync<FilmDTO>($"films/{film.Id}") ?? new();
		}
		ChangePageType(film.PageType);
	}
	async Task OnChange(string alert)
	{
		try
		{
			Alert = alert;
			FilmList = await AdminService.GetAsync<FilmDTO>("films");
			ChangePageType(PageType.Index);
		}
		catch
		{
			Alert = "Couldn't create/edit/delete the film.";
		}
	}
}
